#display{
	width : 100vw;
	height : 100vh;
}

*{
	margin : 0px;
	padding : 0px;
}

body{
	background-color:red;
}


#fps{
	position : absolute;
	left : 80vw;
	top : 0;
	width : 20vw;
	height : 50vh;
	z-index : -1;
	background-color : white;
}