#display{
	width : 100vw;
	height : 100vh;
}

*{
	margin : 0px;
	padding : 0px;
}

body{
	background-color:black;
}


#fps{
	position : absolute;
	left : 80vw;
	top : 0;
	width : 20vw;
	height : 20vh;
	z-index : 1;
	background-color : white;
	display : flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding : 0px;
}

#fps p{
	width : 100%;
	text-align: center;
	margin-top : 15px;
	margin-bottom : 15px;
}

button{
	padding : 5px;
}